@page
@model EditModel
@{
}
<form method="post">
    <div class="row">
        <div class="col-md-6 form-group">
            <label f asp-for="@Model.Command.Name">نام </label>
            <input class="form-control" asp-for="@Model.Command.Name" />
        </div>
        <div class="col-md-6 form-group">
            <label asp-for="@Model.Command.UnitPrice" >قیمت </label>
            <input class="form-control" asp-for="@Model.Command.UnitPrice" />
        </div>
        <div class="col-md-6 form-group">
            <label sp-for="@Model.Command.CategoryId">گروه</label>
            <select asp-items="Model.ProductCategories" asp-for="@Model.Command.CategoryId" class="form-control">
                <option value="0">گروه محصول را انتخاب کنید</option>
            </select>
        </div>
        <input type="hidden" asp-for="@Model.Command.Id" value="@Model.Command.Id" />
        <div class="col-md-12">
            <button type="submit" class="btn btn-success">ویرایش</button>
        </div>
    </div>
</form>